.play-card{
    background-color: var(--play-blue);
    background-image: url(/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: 90% -3%;
    border-radius: 1em;
}

.play-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.play-card-grid-item-1{
    grid-row: 2;
}