.social-card{
    background-color: var(--social-purple);
    background-image: url(/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: 90% -10%;
    border-radius: 1em;
    grid-column: 3;
}

.social-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.social-card-grid-item-1{
    grid-row: 2;
}