@import url("../styles/userCard/userCard.css");
@import url("../styles/workCard/workCard.css");
@import url("../styles/playCard/playCard.css");
@import url("../styles/studyCard/studyCard.css");
@import url("../styles/exerciseCard/exerciseCard.css");
@import url("../styles/socialCard/socialCard.css");
@import url("../styles/selfcareCard/selfcareCard.css");

:root{
    --bg-color: #0E1323;
    --card-color: #1C204B;
    --user-color: #5747EA;
    --work-orange: #FF8B64;
    --play-blue: #55C2E6;
    --study-red: #FF5E7D;
    --exercise-green: #4BCF82;
    --social-purple: #7335D2;
    --selfcare-yellow: #F1C75B;
    --sub-color: #BBC0FF;
    --day-week-month-color: #7078C9;
    --card-hover: #33397A;
}

@font-face{
    font-family: 'Rubik';
    src: url(/fonts/Rubik-VariableFont_wght.ttf);
}

body{
    background-color: var(--bg-color);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: white;
}

h2{
    font-size: 50px;
    font-weight: 300;
    margin: .5em 0 .3em;
}

h3{
    font-weight: 500;
}

p{
    font-weight: 400;
}

.sub-text-color{
    color: var(--sub-color);
}

main{
    margin: 7em 12em;
    display: grid;
    grid-template-columns: 16em 16em 16em 16em;
    grid-template-rows: 15em 15em;
    gap: 2em;
}

.card-body-bg{
    background-color: var(--card-color);
    border-radius: 1em;
}
.card-body-bg:hover{
    background-color: var(--card-hover);
}

.title-icon-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ellipsis-hover{
    fill: #BBC0FF;
}
.ellipsis-hover:hover{
    fill: white;
    cursor: pointer;
}

.margin{
    margin-left: 40px;
}
.margin-ellipsis{
    margin-left: 50px;
}
.no-bottom{
    margin-bottom: 0;
}
.margin-top{
    margin-top: 1.6em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 376px){
    .margin{
        margin-left: 30px;
    }
    .margin-ellipsis{
        margin-left: 100px;
    }
    
    h2{
        font-size: 30px;
        margin: .5em 0 .3em;
    }
    
    main{
        margin: 4em 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 8em 2em 9em 9em 9em 9em 9em 9em;
    }

    .card-info-responsiveness{
        display: flex;
        justify-content: space-between;
    }

    .sub-text-color{
        margin-top: 25px;
        margin-right: 20px;
    }

    /* user card */
    h1{
        font-size: 20px;
        margin: 0;
    }

    .user-margin{
        margin: 10px 5px;
    }

    .card-user-grid{
        display: grid;
        grid-template-rows: 1.4fr .6fr;
    }

    .card-user{
        margin: 0;
    }

    .user-card-image{
        height: 80px;
        margin: 15px 25px 1em 15px;
    }

    .responsive-start{
        display: flex;
        justify-content: start;
        margin: 0;
    }
    .responsive-around{
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

    .day-week-month{
        margin: 20px 0px;
    }
    /* user card */

    /* work card */
    .work-card{
        grid-row: 3;
    }
    /* work card */
    
    /* play card */
    .play-card{
        grid-row: 4;
    }
    /* play card */
    
    /* study card */
    .study-card{
        grid-row: 5;
    }
    /* study card */
    
    /* exercise card */
    .exercise-card{
        grid-row: 6;
        grid-column: 1;
    }
    /* exercise card */
    
    /* social card */
    .social-card{
        grid-row: 7;
        grid-column: 1;
    }
    /* social card */
    
    /* self care card */
    .selfcare-card{
        grid-row: 8;
        grid-column: 1;
    }
    /* self care card */
}