:root{
    --bg-color: #0E1323;
    --card-color: #1C204B;
    --user-color: #5747EA;
    --work-orange: #FF8B64;
    --play-blue: #55C2E6;
    --study-red: #FF5E7D;
    --exercise-green: #4BCF82;
    --social-purple: #7335D2;
    --selfcare-yellow: #F1C75B;
    --sub-color: #BBC0FF;
    --day-week-month-color: #7078C9;
    --card-hover: #33397A;
}

@font-face{
    font-family: 'Rubik';
    src: url(/fonts/Rubik-VariableFont_wght.ttf);
}

body{
    background-color: var(--bg-color);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: white;
}

main{
    margin: 7em 12em;
    display: grid;
    grid-template-columns: 16em 16em 16em 16em;
    grid-template-rows: 15em 15em;
    gap: 2em;
}

.card-body-bg{
    background-color: var(--card-color);
    border-radius: 1em;
}

.card-body-bg:hover{
    background-color: var(--card-hover);
}

.ellipsis-hover:hover{
    background-image: white;
}

.margin{
    margin-left: 40px;
}

.no-bottom{
    margin-bottom: 0;
}

.margin-top{
    margin-top: 1.6em;
}

.title-icon-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

h2{
    font-size: 50px;
    font-weight: 300;
    margin: .5em 0 .3em;
}

h3{
    font-weight: 500;
}

p{
    font-weight: 400;
}

.sub-text-color{
    color: var(--sub-color);
}

/* user card */
.card-body-user{
    background-color: var(--card-color);
    border-radius: 1em;
}

.card-user{
    background-color: var(--user-color);
    border-radius: 1em;
}

.card-user-item{
    grid-row: span 2;
}

.card-user-grid{
    display: grid;
    grid-template-rows: 1.4fr .6fr;
}

.user-card-image{
    margin: 2em 30px 1em;
    border-radius: 50%;
    border: 3.5px solid white;
    box-shadow: 0 .3em .3em #00000035;
    width: 80px;
}

.day-week-month{
    margin: 22px 0px;
    color: var(--day-week-month-color);
    text-decoration: none;
}

.day-week-month:hover{
    color: white;
}

.day-week-month-active{
    color: white;
}
/* user card */

/* work card */
.work-card{
    background-color: var(--work-orange);
    background-image: url(/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 90% -5%;
    border-radius: 1em;
}

.work-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.work-card-grid-item-1{
    grid-row: 2;
}
/* work card */

/* play card */
.play-card{
    background-color: var(--play-blue);
    background-image: url(/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: 90% -3%;
    border-radius: 1em;
}

.play-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.play-card-grid-item-1{
    grid-row: 2;
}
/* play card */

/* study card */
.study-card{
    background-color: var(--study-red);
    background-image: url(/images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: 90% -5%;
    border-radius: 1em;
}

.study-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.study-card-grid-item-1{
    grid-row: 2;
}
/* study card */

/* exercise card */
.exercise-card{
    background-color: var(--exercise-green);
    background-image: url(/images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    border-radius: 1em;
    grid-column: 2;
}

.exercise-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.exercise-card-grid-item-1{
    grid-row: 2;
}
/* exercise card */

/* social card */
.social-card{
    background-color: var(--social-purple);
    background-image: url(/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: 90% -10%;
    border-radius: 1em;
    grid-column: 3;
}

.social-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.social-card-grid-item-1{
    grid-row: 2;
}
/* social card */

/* self care card */
.selfcare-card{
    background-color: var(--selfcare-yellow);
    background-image: url(/images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: 90% -5%;
    border-radius: 1em;
    grid-column: 4;
}

.selfcare-card-grid{
    display: grid;
    grid-template-rows: .4fr 1.6fr;
}

.selfcare-card-grid-item-1{
    grid-row: 2;
}
/* self care card */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }